:root {
  --color-text: rgba(0, 0, 0, 0.8);
  --color-text-2: rgba(0, 0, 0, 0.5);
  --color-text-3: rgba(0, 0, 0, 0.3);
  --color-text-4: rgba(0, 0, 0, 0.2);
  --color-text-5: rgba(0, 0, 0, 0.12);
  --color-text-6: rgba(255, 255, 255, 0.2);
  --color-text-7: rgba(255, 255, 255, 0.3);

  --color-white: #fff;
  --color-error: #D72323;
  --color-blue: #35CDFD;
  --color-violet: #6D4AFF;
  --color-violet-2: #6243E6;
  --color-violet-3: #9981FF;
  --color-black-1: #f4f4f4;
  --color-black-2: #eaeaea;
  --color-black-3: #c2c2c2;
  --color-black-primary: #3B3B3B;
  --color-black-9: #080808;
}
