@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 11px;
  --font-size-s: 13px;
  --font-size-m: 14px;
  --font-size-xl: 28px;
}
